:root {
    --primary-color: #c3073f;
    --primary-light: #e02e64;
    --primary-dark: #003F87;
    --secondary-color: #010326;
    --secondary-light: #3a416d;
    --secondary-dark: #00001a;
    --accent-color: #fd1d75;
    --accent-light: #ff4c97;
    --accent-dark: #c70058;
    --tertiary-color: #27e67c;
    --tertiary-light: #5ef29b;
    --tertiary-dark: #1b9f56;
    --quaternary-color: #6b4ee6;
    --quaternary-light: #a178f4;
    --quaternary-dark: #4c3b99;
    --shadow-color: rgba(15, 140, 255, 0.5);
    --debug-color: crimson;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --primary-white: #fff;
    --secondary-white: #f2f2f2;
    --primary-black: #000;
    --secondary-black: #1a1a1a;
    --primary-gray: #b3b3b3;
    --dark-gray: #4e4e50;
    --light-gray: #dbdada;
    --bg-color: var(--primary-white);
    --tx-color: #1a1a1d;
    --screen-height: 1080px
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root {
    scroll-behavior: smooth;
    font-size: 62.5%
}

::-moz-selection {
    color: var(--bg-color);
    background-color: var(--primary-color)
}

::selection {
    color: var(--bg-color);
    background-color: var(--primary-color)
}

@supports(scrollbar-color:var(--primary-dark) var(--secondary-black)) {
    * {
        scrollbar-color: var(--primary-dark) var(--secondary-black)
    }
}

.debug body {
    overflow: visible
}

.debug body * {
    outline: 1px solid var(--debug-color)
}

img {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

img.circle {
    border-radius: 50%;
    height: 100%
}

a,
button {
    all: unset;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #003F87
}

a:hover,
button:hover {
    color: var(--primary-light)
}

a {
    color: #003F87
}

button {
    background: var(--primary-color);
    color: var(--bg-color);
    padding: 1rem 1.6rem;
    border-radius: 1.2rem
}

ol,
ul {
    list-style: none
}

.bold {
    font-weight: 700
}

.icon-div {
    width: 2.5rem;
    height: 2.5rem;
    display: inline- flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--primary-color)
}

.icon-div svg path {
    fill: var(--tx-color)
}

.icon-div svg {
    height: 90%
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media only screen and (min-width:799px) {
    .hidden {
        opacity: 0;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-transition: all 1s;
        transition: all 1s
    }

    .show {
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 1s;
        transition: all 1s
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        -webkit-transition: none;
        transition: none
    }
}

.tel-link {
    width: 22px;
    height: 30px;
    padding: 10px 15px;
    border-radius: 50px;
    position: fixed;
    z-index: 100;
    margin-top: -50px;
    left: 20px;
    top: 94.5vh;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #003F87;
    color: var(--secondary-color);
    -webkit-transition: width .3s ease, background-color .3s ease;
    transition: width .3s ease, background-color .3s ease;
    overflow: hidden;
    white-space: nowrap
}

.tel-link:hover {
    width: 170px;
    background-color: rgb(37, 51, 51);
    color: white;
}

.tel-link .icon {
    font-size: 20px
}

.tel-link .number {
    opacity: 0;
    margin-left: 13px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.tel-link:hover .number {
    opacity: 1
}

.tel-link:nth-of-type(1) {
    top: 94.5vh
}

.tel-link:nth-of-type(2) {
    top: 89vh
}

.tel-link:nth-of-type(3) {
    top: 83.5vh
}

.tel-link:nth-of-type(4) {
    top: 78vh
}

.text-slideshow {
    font-size: 7rem;
    line-height: 5.8rem;
    position: relative
}

.text {
    display: inline-block
}

.dynamic-word {
    width: 25rem;
    text-align: center;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    -webkit-animation: slideIn 3s infinite;
    animation: slideIn 3s infinite;
    color: #003F87
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        opacity: 0
    }

    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    99% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        opacity: 0
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        opacity: 0
    }

    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    99% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        opacity: 0
    }
}

#pop-form-open-btn {
    width: 23px;
    height: 30px;
    padding: 10px 15px;
    border-radius: 50px;
    position: fixed;
    z-index: 100;
    left: 21px;
    top: 95vh;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0
}

.pop-form-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    background-color: rgba(3, 2, 2, .952);
    opacity: 0;
    visibility: hidden;
    z-index: 10000
}

.pop-form-bg.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s
}

.pop-form-container {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background-color: var(--primary-white);
    color: var(--primary-color);
    -webkit-box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
    box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    direction: rtl
}

.pop-form-container form {
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    -ms-flex-direction: column;
    flex-direction: column
}

.pop-form-container form input {
    border: none;
    outline: 0;
    background: rgba(0, 0, 0, 0)
}

.pop-form-container form input[type=submit] {
    all: unset;
    cursor: pointer;
    color: var(--primary-white);
    background-color: var(--primary-color);
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    padding: 15px;
    border-radius: 25px;
    font-weight: 700
}

.pop-form-container form input[type=submit]:focus,
.pop-form-container form input[type=submit]:hover {
    background-color: var(--primary-dark)
}

.pop-form-container form textarea {
    height: 30%
}

.pop-form-container form input,
.pop-form-container form textarea {
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-weight: 700;
    width: 80%;
    padding: 7px 15px;
    border-radius: 10px;
    border: 1.3px solid var(--primary-black)
}

.pop-form-container form input:focus,
.pop-form-container form textarea:focus {
    border-color: var(--primary-color)
}

.hotline-ele {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.hotline-ele a {
    display: inline-block;
    background-color: #003F87;
    color: var(--primary-white);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hotline-ele a:hover {
    color: var(--tertiary-color)
}

body {
    min-width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--tx-color);
    font-family: Lato, sans-serif;
    font-size: 1.7rem
}

section {
    min-width: 100%;
    height: var(--screen-height);
    color: var(--font-color);
    background: var(--primary-white);
    padding: 2rem;
    margin: 0;
    border: none;
    border-radius: none
}

section h2 {
    color: var(--primary-white);
    background-color: #003F87;
    padding: 20px;
    margin: 15px;
    border-radius: 20px
}

header {
    height: var(--screen-height);
    width: 100%;
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(assets/heu2.jpg) no-repeat center fixed;
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(assets/heu2.jpg) no-repeat center fixed;
    background-size: cover;
    background-position: center top
}

main {
    height: 100%;
    width: 100%;
    padding: var(--sec-padding);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    color: var(--primary-white)
}

section.services {
    background-color: var(--light-gray);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    -ms-flex-direction: column;
    flex-direction: column
}

.section-row {
    height: 40%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    background: var(--bg-color);
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
    box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
    overflow: hidden;
    direction: rtl
}

.section-row img {
    height: 100%;
    max-width: 50%;
    -o-object-fit: cover;
    object-fit: cover
}

.section-row p {
    color: #1a1a1d;
    padding: 25px;
    text-align: right;
    overflow: auto;
    height: 100%
}

.section-row p .highlight {
    color: #003F87
}

.section-row.rv {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

section.testos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

section.testos h2 {
    position: absolute;
    top: 60px
}

.slider-container {
    width: 60%;
    height: 50%;
    background: var(--primary-white);
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
    box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 3rem;
    overflow: hidden;
    direction: rtl
}

.quote-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out
}

.quote {
    min-width: 100%;
    text-align: center;
    padding: 20px
}

.quote p {
    margin-bottom: 30px
}

.author {
    margin-top: 10px;
    font-size: 2rem;
    font-style: italic;
    color: var(--dark-gray)
}

.arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #003F87;
    color: var(--primary-white);
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    font-size: 3rem;
    padding: 15px;
    border-radius: 5px
}

.arrow:hover {
    background: black;
}

.left {
    left: 10px
}

.right {
    right: 10px
}

.dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
    direction: rtl
}

.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer
}

.dot.active {
    background: var(--primary-color)
}

footer {
    background-color: #000116;
    color: white;
    text-align: center;
    padding: 30px 20px;
    direction: rtl;


}
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    margin-left: 50px;
  }
  
  .footer-hotline {
    background-color: #003F87;
    color: black;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  
  .footer-hotline p {
    margin: 0;
    font-size: 18px;
  }
  
  .hotline-number {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .hotline-number:hover {
    color: #222;
  }
  
  .footer-contact {
    text-align: right;
  }
  
  .footer-contact h3 {
    color: #fff;
  }
  
  .footer-contact a {
    color: white;
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
  




@media only screen and (max-height:760px) {
    .tel-link:nth-of-type(1) {
        top: 94.5vh
    }

    .tel-link:nth-of-type(2) {
        top: 85.5vh
    }

    .tel-link:nth-of-type(3) {
        top: 76.5vh
    }

    .tel-link:nth-of-type(4) {
        top: 67.5vh
    }
}

@media only screen and (max-width:850px) {
    .tel-link:nth-of-type(1) {
        top: 84.5vh
    }

    .tel-link:nth-of-type(2) {
        top: 77.2vh
    }

    .tel-link:nth-of-type(3) {
        top: 69.9vh
    }

    .tel-link:nth-of-type(4) {
        top: 62.6vh
    }

    .text-slideshow {
        text-align: right;
        line-height: 7rem;
        padding-right: 25px
    }

    .dynamic-word {
        width: auto
    }

    #pop-form-open-btn {
        top: 85vh
    }

    header {
        height: 100vh;
        background-position: 93%
    }

    section.services {
        height: auto;
        background-color: var(--primary-white)
    }

    section.services h2 {
        text-align: center;
        max-width: 80%;
        margin: 50px 0 40px
    }

    .section-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        height: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        margin-top: 50px
    }

    .section-row.rv {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .section-row img {
        height: auto;
        max-width: 100%;
        margin-bottom: 20px
    }

    .section-row p {
        font-size: 1.5rem;
        width: 100%;
        padding: 0
    }

    section.testos {
        height: 900px
    }

    section.testos h2 {
        position: absolute;
        top: 90px
    }

    section.testos .slider-container {
        background: 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
        height: 80%
    }

    section.testos .quote-wrapper {
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 40px
    }

    section.testos .quote {
        width: 100%;
        overflow: auto;
        text-wrap: pretty;
        word-break: break-word
    }

    section.testos .quote p {
        margin-bottom: 0
    }

    section.testos .author,
    section.testos .quote {
        font-size: 1.8rem
    }

    section.testos .arrow {
        display: none
    }
}